# Dependencies
node_modules/
*/node_modules/

# Environment
.env
*.env
backend/.env

# Backups
backend/sauvegardes/
*.sql

# Logs
*.log
logs/

# Build
frontend/build/
frontend/.cache/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Uploads temporaires
backend/uploads/